.progressDiv {
  margin: 8px;
}
.progressDiv:hover {
  cursor: pointer;
  color: #1890ff;
}
.name {
  margin-right: 8px;
  font-size: 12px;
  font-weight: 500;
}
.popoverDiv {
  display: flex;
}
.questionDiv {
  display: flex;
  flex-direction: column;
  margin-right: 4px;
}
